:root {
  --background-color-main-page: rgb(194, 194, 194);
  --background-color-main-item: rgb(255, 255, 255);
  --background-color-main-white: rgb(233, 233, 233);
  --shadow-color: rgb(88, 88, 88);
  --header-color: rgb(108, 226, 247);
  --header-color-dark: rgb(34, 34, 141);
  --grey-blue: #102a42;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Fira Code";
  box-sizing: border-box;
}
body {
  background-color: var(--background-color-main-white);
}
p {
  background: linear-gradient(to right, black, var(--header-color-dark));
  background-clip: text;
  color: transparent;
}
.flex-direct-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 4px dotted var(--header-color-dark);
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  /* background-color: aqua; */
}
.text-header {
  color: var(--grey-blue);
  font-size: 2rem;
  width: 100vw;
  margin: 30px 0;
  text-align: center;
}
.Companies {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  width: 60vw;
  margin: 0 auto;
  max-width: 400px;
}
.btn {
  color: rgba(0, 0, 0, 0.9);
  background-color: transparent;
  outline: none;
  border: 2px solid transparent;
  font-size: 1.2rem;
  font-weight: 600;
  width: 120px;
  padding: 10px;
  transition: border 100ms linear;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.btn:hover,
.show {
  color: rgb(0, 176, 230);
  border-bottom: 2px solid rgb(0, 176, 230);
  background-color: rgba(0, 176, 230, 0.1);
}
.job-offer {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 400px;
  /* background-color: #102a42; */
}
.job-offer h2 {
  background: linear-gradient(
    to right,
    rgb(71, 71, 71),
    var(--header-color-dark)
  );
  background-clip: text;
  color: transparent;
}
.job-offer h3 {
  background-color: rgb(179, 179, 179);
  color: rgb(46, 46, 46);
  width: 120px;
  letter-spacing: 1px;
  margin: 15px 0;
  padding: 10px;
  text-align: center;
}
.job-offer > p {
  margin: 10px;
}
i {
  margin-right: 10px;
  color: rgb(0, 176, 230);
}
@media screen and (min-width: 1000px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .Companies {
    flex-direction: column;

    flex-basis: 20%;
  }
  .btn:hover,
  .show {
    border-bottom: 2px solid transparent;
    border-left: 2px solid rgb(0, 176, 230);
  }
}
